body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 350px;
  margin: auto;
}

.form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  padding: 12px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 0px 5px gray;
  text-align: center;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 5px;
}

.details {
  text-align: center;
}

.detail-img {
  width: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
}
